<div class="main-container">
    <div class="subscriber">
        <!-- <app-subscribe-topic (topicoEvent)="addTopico($event)"></app-subscribe-topic>-->
        <app-top-bar></app-top-bar>
    </div>
    <div class="messages">

        <div class="no-topic" *ngIf="!topics || topics.length == 0">
            Nenhuma sala existente
        </div>  
     
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome da Sala</th>
                    <!-- <th scope="col">#</th> -->
                </tr>

            </thead>
            <tbody>
                <tr>
                  <!-- <a (click)="entraSala()"><app-broker-topic *ngFor="let t of topics; let i1 = index" [topic]="t"></app-broker-topic></a> -->
                    <div *ngFor="let t of topics; let i1 = index" >
                        <a (click)="entraSala(t.id)">
                        <div class="header">{{t.nome}}</div>
                    </a>
                    </div>
                </tr>
            </tbody>
          </table>
    </div>
</div>