<div>
    <div class="button-exit">
        <button type="button" class="btn btn-danger"(click)="sairSala()">Sair</button>
    </div>
     
      <div class="row" style="margin-top: 5%;">

        <div class="col-sm-2" style="margin-left: 6%;">
        <div class="card card-block">
          <img class="card-img-top" src="../../../assets/images/tesoura.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
          <div class="card-block" style="text-align: center;">
            <a class="btn btn-primary" style="width: 100%" (click)="tesoura()">Tesoura</a>
          </div>
          </div>
        </div>
        
        <div class="col-sm-2">
        <div class="card card-block">
          <img class="card-img-top" alt="img" src="../../../assets/images/papel.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"/>
          <div class="card-block" style="text-align: center;">
            <a class="btn btn-primary" style="width: 100%" (click)="papel()">Papel</a>
          </div>
        </div>
        </div>
        
        <div class="col-sm-2">
        <div class="card card-block">
          <img class="card-img-top" alt="100%x180" src="../../../assets/images/pedra.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"/>
          <div class="card-block" style="text-align: center;">
            <a class="btn btn-primary" style="width: 100%" (click)="pedra()">Pedra</a>
          </div>
          </div>
        </div>
        
          
          <div class="col-sm-2">
        <div class="card card-block">
          <img class="card-img-top" alt="100%x180" src="../../../assets/images/agua.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"/>
          <div class="card-block" style="text-align: center;">
            <a class="btn btn-primary" style="width: 100%" (click)="agua()">Agua</a>
          </div>
          </div>
        </div>
          
        <div class="col-sm-2">
            <div class="card card-block">
              <img class="card-img-top" alt="100%x180" src="../../../assets/images/fogo.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"/>
              <div class="card-block" style="text-align: center;">
                <a class="btn btn-primary" style="width: 100%" (click)="fogo()">Fogo</a>
              </div>
              </div>
            </div>
          
        </div>
        <div class="confirm pt-5" style="text-align: center;" >
            <button type="button" class="btn btn-success" (click)="enviaJogada()">Confirmar Jogada</button>
        </div>

        
</div>
