<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline- p-3">
    <div class="form-group col-6">
        <div class="form-group col-9 float-left">
            <label for="topico">Tópico</label>
            <input type="text" formControlName="topico" id="topico" class="form-control" #topico autofocus 
                [ngClass]="{ 'is-invalid': submitted && f.topico.errors }" placeholder="Topico WebSocket" />
            <div *ngIf="submitted && f.topico.errors" class="invalid-feedback float-right">
                <div *ngIf="f.topico.errors.required">Topico é obrigatório</div>
            </div>
        </div>
        <div class="form-group col-3 float-right">
            <button id="btn-entrar" [disabled]="submitted || !form?.valid" class="btn btn-primary mt-4">
                <span *ngIf="submitted" class="spinner-border spinner-border-sm mr-1"></span>
                Inscrever
            </button>
        </div>
    </div>
</form>