.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .campos {
      display: flex;
    //   text-align: center;
      justify-content: center;

      input {
          width: 100%;
      }
  }
}
